.u-margin-top-small {
  margin-top: 2rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.u-margin-top-very-big {
  margin-top: 14rem;
}

.u-margin-right-small {
  margin-right: 2rem;
}

.u-float-right {
  float: right;
}

.u-text-white {
  color: $color-white;
}

.u-text-primary {
  color: $color-blue-dark;
}

.u-text-right {
  text-align: right;
}

.u-width-2-of-3 {
  width: (2 / 3) * 100%;
}

.u-display-flex {
  display: flex;
}

.u-center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.u-text-blue-light {
  color: $color-blue-light;
}

.u-position-relative {
  position: relative;
  height: 100%;
}

.u-position-absolute-bottom {
  position: absolute;
  bottom: 0px;
}
