$color-blue-light: #56bcbb;
$color-blue-dark: #2e5470;

$color-white: #fff;
$color-gray-dark: #585c60;
$color-black: #000;

$bg-color-blue-dark: #12202d;
$bg-color-blue-medium: #203f49;

$container-min-padding: 2rem;
$container-max-width: 114rem;
$container-max-width-tab-port: 80rem;

$default-font-size: 1.6rem;

$gutter-vertical: 8rem;
$gutter-horizontal: 3.5rem;

$section-padding-top-bottom: 9rem;
